<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>623895028683-afahh54lc6oalb9316pgoh6lp920vt63.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.623895028683-afahh54lc6oalb9316pgoh6lp920vt63</string>
	<key>API_KEY</key>
	<string>AIzaSyCJ79MdLkaHHfmE4d4GaA4a2mEUflLTSOc</string>
	<key>GCM_SENDER_ID</key>
	<string>623895028683</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kr.hanchae.MoyeoTrip</string>
	<key>PROJECT_ID</key>
	<string>moyeotrip</string>
	<key>STORAGE_BUCKET</key>
	<string>moyeotrip.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:623895028683:ios:3357508b87dc5ba7900c4e</string>
</dict>
</plist>