<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>kakao</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>kakao$(KAKAO_NATIVE_APP_KEY)</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Google Sign-In</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.623895028683-afahh54lc6oalb9316pgoh6lp920vt63</string>
			</array>
		</dict>
	</array>
	<key>KAKAO_NATIVE_APP_KEY</key>
	<string>$(KAKAO_NATIVE_APP_KEY)</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>kakaokompassauth</string>
		<string>kakaolink</string>
	</array>
	<key>MOYEO_API_BASE_URL</key>
	<string>https://moyeo-trip-api.jayden-bin.cc</string>
	<key>SENTRY_DSN</key>
	<string>$(SENTRY_DSN)</string>
	<key>SENTRY_ENVIRONMENT</key>
	<string>$(SENTRY_ENVIRONMENT)</string>
	<key>SENTRY_RELEASE</key>
	<string>$(SENTRY_RELEASE)</string>
	<key>SENTRY_TRACES_SAMPLE_RATE</key>
	<string>$(SENTRY_TRACES_SAMPLE_RATE)</string>
	<key>UIAppFonts</key>
	<array>
		<string>LINESeedKR-Rg.ttf</string>
		<string>LINESeedKR-Bd.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
